.card-container {
    display: flex;
    justify-content: center;
}

.card-holder {
    background-color: whitesmoke;
    display: flex;
    width: 40%;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    padding: 10px;
}

img {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-info {
    background-color: whitesmoke;
    margin-right: 1000px;
}

h3 {
    color: rgb(92, 92, 92);
}

h6 {
    color: rgb(200, 200, 200);
}