.addbikes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.addbikes form {
  background-color: silver;
  width: 30%;
  padding: 20px;
  border-radius: 6px;
}

input[type=text],
input[type=number] {
  width: 100%;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid hsl(246, 25%, 79%);
}

input[type=submit] {
  background-color: #4CAF50;
  border-radius: 6px;
  padding: 6px;
  border: 1px solid #268a29;
}







.data {
  justify-content: center;
  display: flex;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}


tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table {
  display: flex;
  width: 100%;

}

th,
td {
  padding: 6px;
}

td a {
  background-color: #4CAF50;
  padding: 5px 3px 3px 5px;
  border-radius: 6px;
}