.function-container{
    display: flex;
    justify-content: center;
}


.funtion-item{
    width: 50%;
    display: flex;
    flex-direction:row;
    justify-content: center;
}


ul{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    padding: 40px;
    border: 0px solid hsl(0, 0%, 31%);
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

li:hover{
    box-shadow: 2px 2px 16px grey; ;
}
 li img{
    display: flex;
    justify-content: center;
    
 }

li p{
    text-align: center;
}