.data{
    /*background-color: saddlebrown;*/
    width: 300px;
    padding: 6px;
}

tr:nth-child(odd) {
    background-color: #a0a0a0;
}

table{
    width: 100%;
    border-collapse:collapse ;
}

th, td {
    padding:6px 10px 6px 10px;
}



    