.data {
    /*background-color: saddlebrown;*/
    margin-top: 40px;
    width: 300px;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
}

tr:nth-child(odd) {
    background-color: #b7b7b7;
}

table {
    width: 100%;
    border-collapse: collapse;

}

th,
td {
    padding: 6px 10px 6px 10px;
}

img {
    margin: 10px 10px 0 10px;
    border-radius: 10px;
    border: 1px solid black;
}