
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;
}

body{
    font-family:
    background-color: rgb(207, 207, 207);
}

.logo{
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.top-bar{
    background-color: whitesmoke;
    display: flex;
    position: sticky;
    justify-content: center;    
    top: 0px;
    box-shadow: 2px 2px 16px grey;
}

.menu-bar{
    display: flex;
    width: 95%;
    justify-content:space-between;
    padding: 5px;
}

h1{
    font-weight:900;
    color: black;
}

.menu-items{
    padding: 5px;
    display: flex;
    width: 30%;
    justify-content:space-around;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: rgb(57, 57, 57);
}
 
a:hover{
    color: black;
}

.login{
    background-color: black;
    border:
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 6px;
}


.container{
    background: url(../website-second/images/wallpaperflare.com_wallpaper.jpg);
    height: 350px;
    background-size:cover;
    background-position-y:-100px ;
    background-repeat: no-repeat;
    display: flex;
    padding: 20px;
    justify-content:center;
}

.search{
   
    width: 40%;
    padding: 12px;
    display: flex;
    justify-content: center;
    /*border-radius: 6px;
    box-shadow: 2px 2px 16px grey;
*/}

#searchbar{
  
    width: 70%;
    height: 100px;
    margin-top: 110px;
}

#filter-tag {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.select-box{
    display: flex;
    justify-content: center;
    width: 100%;
}

#search-filter{
    background-color: black;
    border-radius: 0px 10px 10px 0px;
    color: white;
    padding: 10px;
}

select{
    width: 100%;
    margin-top: 20px;
    /* background-color: lime;*/
    padding: 10px;
    border-radius: 6px;
}



/*.compare-container{
    margin-top  :5px;
    background-color: slateblue;
    justify-content: center;
    display: flex;
}

.compare-box{
    display: flex;
    width: 90%;
    background-color: red;
    justify-content: space-evenly;
}

.compare-first{
    background-color: green;
    width: 25%;
}

.compare-second{
    background-color: pink;
    width: 25%;
}*/


input[type=text] {
    width: 90%;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid hsl(246, 25%, 77%);
}

.functiontag{
    margin-top: 20px;
    text-align: center;
}

.function-container{
    display: flex;
    justify-content: center;
}


.funtion-item{
    width: 50%;
    display: flex;
    flex-direction:row;
    justify-content: center;
}


ul{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    padding: 40px;
    border: 0px solid hsl(0, 0%, 31%);
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

li:hover{
    box-shadow: 2px 2px 16px grey; ;
}