* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*body {
    background: linear-gradient(to right, #2773dd, #3a6073);
    font-family: "Raleway",sans-serif;
}*/

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center p {
    padding: 10px, 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.popup {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.popup close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .container h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .container form container-element {
    margin: 15px 0px;
}

.popup .container form container-element label {
    font-size: 14px;
    color: #222;
}

.popup .container form container-element input[type="text"],
.popup .container form container-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .container form container-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .container form container-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

