* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(230, 230, 230);
    background: linear-gradient(90deg, rgba(230, 230, 230, 1) 30%, rgba(0, 0, 0, 0.8156) 100%);
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-size: cover; */
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 25px;
    padding: 30px 45px 45px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 50px;
    color: #010e11;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #010e11;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

/* input.form-control {
    background: #eaeaea;
    color: #eaeaea;
}
input.form-control:hover {
    background: #eaeaea;
    color: #eaeaea;
    border: 0.5px solid #eaeaea;
    box-shadow: none;
    transition: 0.5s;
} */

.input-field i {
    margin-left: 15px;
    color: #999;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-field button {
    flex-basis: 45%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    height: 250px;
}

.btn-field button.disable {
    background: #010e11;
    color: #eaeaea;
}

.btn-field button.disable:hover {
    background: #eaeaea;
    color: #010e11;
    transition: 0.5s;
}

form p {
    text-align: center;
    font-size: 13px;
}
form p a {
    text-decoration: none;
    color: #3c00a0;
}

.lol{
    font-size: 13px;
}

